* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3D3F97;
    padding: 0px 20px;
    height: 15dvh;
    min-height: 100px;
}

.navbar a, .dropbtn {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    font-weight: bold;
    font-family: inherit;
    font-size: 1em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-left .logo {
    font-size: 1.5em;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.dropdown {
    position: relative;
}

.dropdown > div {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    width: 40dvw;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    border-radius: 20px 0 20px 20px;
    z-index: 1;
}

.dropdown:hover > div {
    display: block;
}

.dropbtn {
    display: inline-block;
}

.dropdown a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #282964;
    border-radius: 0;
}

.dropdown a:hover {
    background-color: #eee;
}

.dropdown a:first-child {
    padding: 12px 12px 8px;
    border-radius: 20px 0 0 0;
}

.dropdown a:last-child {
    padding: 8px 12px 12px;
    border-radius: 0 0 20px 20px;
}

/* body */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85dvh;
    gap: 20px;
    align-items: center;
}

.blue {
    background-color: #3D3F97;
}

/* Login */

.login-box {
    color: #282964;
    background-color: #fff;
    padding: 2em;
    border-radius: 20px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    width: 30dvw;
    max-width: 400px;
    height: 35dvh;
    margin-top: -15dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    gap: 2em;
}

.login-box p {
    color: #9293D3;
    font-weight: bold;
    font-size: 1.5em;
    max-height: 100px;
}

.google-box {
    background-color: #eee;
    width: 15dvw;
    height: 9dvh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.google-box a {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0 10px;
    text-decoration: none;
    color: #282964;
    border-radius: inherit;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.google-box a:hover {
    background-color: #ddd;
    border-radius: inherit;
    cursor: pointer;
}

/* QR code */

.qr-code-box {
    background-color: #fff;
    padding: 2em;
    border-radius: 20px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    width: 30dvw;
    max-width: 400px;
    height: 45dvh;
    margin-top: -20dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    gap: 2em;
    
}

.qr-code-box p {
    color: #9293D3;
    font-weight: bold;
    font-size: 1.7em;
}

.qr-code {
    background-color: #fff;
    width: 20dvw;
    max-width: 200px;
    max-height: 200px;
    height: 20dvw;
    min-height: 100px;
    min-width: 100px;
    border-radius: 20px;
    border: solid 2px #aaa;
}

/* emitir certificado */
.emitir-cert-box {
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    width: 70dvw;
    height: 75dvh;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.emitir-cert-box p {
    padding: 12px 8px;
    border-bottom: 1px solid #3D3F97;
}

.emitir-cert-box p:first-child {
    padding: 12px 12px 8px;
}

.emitir-cert-box p:last-child {
    padding: 8px 12px 12px;
    border-bottom: none;
}


.left {
    max-width: 30dvw;
}

.right {
    max-width: 70dvw;
}

/* Tela Inicial */

.left p {
    font-size: 1.2em;
    font-weight: bold;
    color:#3D3F97;
    text-align: center;
    margin-bottom: 20px;
}

.left, .right {
    flex: 1;
    margin-top: -15dvh;
    margin: 0 5%;
}

.calendar {
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    padding: 12px;
    border-radius: 20px;
    color: #4A5660;
    height: 40dvh;
    min-width: 10dvw;
    max-width: 40dvw;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-header button {
    border: none;
    background-color: transparent;
    color: #ccc;
}

.calendar-header button:hover {
    color: #aaa;
}

#calendar-month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    min-height: 10dvh;
    min-width: 10dvw;
    max-width: 40dvw;
}

.day {
    border: none;
    padding: 10px;
    text-align: center;
}

.day:hover {
    background-color: #ccc;
    cursor: pointer;
    border-radius: 20px;
}

.header {
    color: #ccc;
}

.calendar-week-container {
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    padding: 12px;
    border-radius: 20px;
    color: #4A5660;
    height: 45.1dvh;
}

.week-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.event-block {
    position: absolute;
    height: 100%;
    background-color: #9293D3;
    color: white;
    border-radius: 25px;
    text-align: center;
    font-size: 1.2em;
    overflow: hidden;
}