* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3D3F97;
    padding: 0px 20px;
    height: 15vh;
    min-height: 100px;
}

.navbar a, .dropbtn {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    font-weight: bold;
    font-family: inherit;
    font-size: 1em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-left .logo {
    font-size: 1.5em;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.dropdown {
    position: relative;
}

.dropdown > div {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    width: 40vh;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    border-radius: 20px 0 20px 20px;
    z-index: 1;
}

.dropdown:hover > div {
    display: block;
}

.dropbtn {
    display: inline-block;
}

.dropdown a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #282964;
    border-radius: 0;
}

.dropdown a:hover {
    background-color: #eee;
}

.dropdown a:first-child {
    padding: 12px 12px 8px;
    border-radius: 20px 0 0 0;
}

.dropdown a:last-child {
    padding: 8px 12px 12px;
    border-radius: 0 0 20px 20px;
}

main {
    min-height: 85vh;
}

.blue {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3D3F97;
}

.login-box {
    color: #282964;
    background-color: #fff;
    padding: 2em;
    border-radius: 20px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    width: 30vh;
    max-width: 400px;
    height: 35vh;
    margin-top: -15vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    gap: 2em;
}

.login-box p {
    color: #9293D3;
    font-weight: bold;
    font-size: 1.7em;
}

.google-box {
    background-color: #eee;
    width: 15vh;
    height: 9vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.google-box a {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0 10px;
    text-decoration: none;
    color: #282964;
    border-radius: inherit;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.google-box a:hover {
    background-color: #ddd;
    border-radius: inherit;
    cursor: pointer;
}

.index {
    display: flex;
    gap: 20px;
    align-items: center;
}

.left, .right {
    flex: 1;
    margin-top: -15vh;
    margin: 0 5%;
}

.calendar {
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    padding: 12px;
    border-radius: 20px;
    color: #4A5660;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendar-header button {
    border: none;
    background-color: transparent;
    color: #ccc;
}

.calendar-header button:hover {
    color: #aaa;
}

#calendar-month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    border: none;
    padding: 10px;
    text-align: center;
}

.day:hover {
    background-color: #ccc;
    cursor: pointer;
    border-radius: 20px;
}

.header {
    color: #ccc;
}