/* ------------
   Reset & Base
   ------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

/* ------------
   Main Layout
   ------------ */

main {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: calc(100dvh - 80px);

    gap: 20px;
}

.blue {
    background-color: #3d3f97;
}
